body {
    font-family: Abhaya-Libre, serif;
    background: #101010;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;0
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #3d0cad;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.course {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}
